@model IEnumerable<TGProyectoG.Data.TrabajoGrado>

@{
    ViewBag.Title = "Indice";
}

<h2>Indice</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoTrabajoGrado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoTrabajoGrado)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id=item.IdTrabajoGrado }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.IdTrabajoGrado })*@ |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdTrabajoGrado })
        </td>
    </tr>
}

</table>
