@model TGProyectoG.Data.Carrera

@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Carrera</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.NombreCarrera)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NombreCarrera)
            @Html.ValidationMessageFor(model => model.NombreCarrera)
        </div>

        <p>
            <input type="submit" value="Crear" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver Atras", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
