@model TGProyectoG.Data.UnidadAcademica

@{
    ViewBag.Title = "Modificar";
}

<h2>Modificar</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UnidadAcademica</legend>

        @Html.HiddenFor(model => model.IdUnidadAcademica)

        <div class="editor-label">
            @Html.LabelFor(model => model.Departamento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Departamento)
            @Html.ValidationMessageFor(model => model.Departamento)
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver Atras", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
